// variables
$large_font_size: 8em;
$medium_font_size: 3em;
$small_font_size: 0.5em;
$done_color: #bdbdbd;

// Variables for margins
$button_margin_left: 2em;
$button_padding: 10em;
$button_width: 10em;

#todo-list-header {
  h1 {
    font-size: $large_font_size;
    left: 75%;
  }
}
.todo-list-form {
//   font-size: $medium_font_size;

  .todo-input{
    margin-right:$button_margin_left;
    padding:0.2em;
    &:focus::placeholder{
        color: transparent;
    }
  }
  .todo-item {
    font-size: $medium_font_size;
    button {
      margin-left: $button_margin_left;
      width: $button_width;
    }
  }
  .todoSelected {
    color: $done_color;
    opacity: 0.3;
  }
  .completedIndicator{
    font-size: $small_font_size;
  }
  .hidden-completedIndicator{
    visibility:hidden;
  }
}
